<h1>Edit Book!</h1>
<h4><%= @error %></h4>

<form action='/books/<%=@book.id%>' method="POST">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <br></br>
  <label>Title:</label>
  <input type="text" name="book[title]" id="book_title" value="<%= @book.title%>">
  <br></br>
  <label>Author:</label>
  <input type="text" name="book[author]" id="book_author" value="<%= @book.author%>">
  <br></br>
  <label>Genre:</label>
  <%= binding.pry %>
  <select id='genre_list' type="text" name='book[genre]' value="<%= @book.genre%>">
  <% @genres.each do |genre| %>
    <option type="text" name='book[genre]' id="book_genre"> <%= genre %>
  <% end %>
  </select>
  <br></br>
  <label>Summary:</label>
  <input type="text" name="book[summary]" id="book_summary" value="<%= @book.summary%>">
  <br></br>
  <input type="submit" value="Update Book">
</form>
