<html>
  <head>
    <title></title>
  </head>
  <body>

    <h1><%=@book.title%></h1>
    <h3><%=@book.author%></h3>
    <h3><%=@book.genre%></h3>
    <h3><%=@book.summary%></h3>
    <h3><%=@book.owner%></h3>


    <br></br>


    <h3>
      <% if current_user.id == @book.owner_id %>
        <a href = '/books/<%=@book.id%>/delete'>Delete This Book</a>
        <br></br>
        <a href = "/books/<%=@book.id%>/edit">Edit This Book</a>
      <% end %>
    </h3>

    <h3>
      <% if current_user.id != @book.owner_id %>
        <a href = "/owners/<%=@book.owner_id%>">View More Books by this Person!</a>
      <% end %>
    </h3>

    <div class = "container">
      <h3><a href="/owners/<%=current_user.id%>">Go to your library!</a></h3>
      <h3><a href="/books/new">Add a book to your library!</a></h3>
      <h3><a href = "/logout">Logout</a></h3>
    </div>


  </body>
</html>
